{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


  {% from "govuk/components/button/macro.njk" import govukButton %}

  {% from "govuk/components/date-input/macro.njk" import govukDateInput %}


  <h1>date input page</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  
      <form class="form" method="post">

<!--date input-->

{{ govukDateInput({
  id: "vaccine-date",
  namePrefix: "vaccine-date",
  fieldset: {
    legend: {
      text: "When would you like to book your vaccination appointment?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "For example, 27 08 2026"
  }
}) }}






      </form>

    </div>
  </div>




{{ govukButton({
  text: "Save and continue"
}) }}

{% endblock %}

 