{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <header>
    {{govukHeader()}}
  </header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Vaccination scheme",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Vaccination scheme 
      </h1>

      <h2 class="govuk-heading-m"> The NHS provides a free Vaccination scheme for those over 65</h2>

      <h3 class="govuk-heading-s"> If you wish to access this service or find out if you are eligible, 
        select the button below.</h3>

      <p>You can use the service if you meet all these criteria:</p>
      <ol>
        <li> You are over 65 years old</li>
        <li> You are a resident in the UK</li>
        <li>You are registered to an NHS GP</li>
        <li>You have not already had this vaccine in 2026</li>
      </ol>

     


      {{ govukButton({
        text: "Over 65 vaccination scheme",
        href: "/index",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You can also <a href="#">register by post</a>.
      </p>

      <p>
        The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.
      </p>

      <p>
        You can’t register for this service if you’re in the UK illegally.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Other links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                FAQ
              </a>
            </li>
            <li>
              <a href="#">
                Find nearest clinic to you
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
